@import '../../styles/setup.scss';

.header {
    position: sticky;
    margin-top: 20px;
    display: flex;


    margin-bottom: 100px;
    a {
        margin-left: 20px;
        font-size: 15px;
        font-weight: bold;
    }

    .selected {
        color: $base-color;
    }
}

