@import '../../styles/setup.scss';

.header {
  display: flex;
  align-items: center;

  position: absolute;
  top: 20px;
  right: 20px;

  .search {
    display: flex;
    align-items: center;

    border-radius: 10px;

    padding: 0.5rem;

    background-color: $container-color;

    input {
      margin-left: 0.5rem;

      background-color: inherit;

      border: 0px;

      font-style: italic;

      color: white;

      &:focus {
        outline: none;
      }
    }
  }

  a {
    margin-left: 20px;
    font-size: 15px;
    font-weight: bold;

    overflow-y: hidden;
  }

  .selected {
    color: $base-color;
  }
}
