.content {
  margin: 150px 10px;

  img {
    border-radius: 15px;
  }

  .containerInfo {
    display: flex;
  }

  .episodes {
    h2 {
      font-size: 36px;
      font-weight: bold;
      font-style: italic;
      line-height: 3rem;

      margin: 30px 0;
    }
  }
}
